AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/486b2290-f91b-4180-968a-6fcf81a47a3f.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/b5b62346-4d00-4f71-9f9b-59e54e623b44.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/ee3fa067-2662-49f6-b1d4-7584a90e6a6c.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/fb3b9627-0451-4f38-96bd-37ee7d42c651.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/fb99f074-8530-475d-ba14-f0ac29a4f95c.vsidx
