AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/486b2290-f91b-4180-968a-6fcf81a47a3f.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/b5b62346-4d00-4f71-9f9b-59e54e623b44.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/ee3fa067-2662-49f6-b1d4-7584a90e6a6c.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/fb3b9627-0451-4f38-96bd-37ee7d42c651.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/fb99f074-8530-475d-ba14-f0ac29a4f95c.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/081b0915-b408-4730-b0a3-ca2ffd41eb29.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/20128743-7e5c-43eb-b4a4-afe61e86c13d.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/3933aceb-5743-47e4-8775-cb2f7292dae3.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/53f52569-6c51-4406-9777-a8cbfa1056d6.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/6fca9e79-487f-4fbc-9755-09e542972324.vsidx
AutoStockManageBackend/.vs/AutoStockManageBackend/FileContentIndex/a4f8937b-c333-4f08-aeeb-409ead8cac0b.vsidx
