/* You can add global styles to this file, and also import other style files */

/* PrimeIcons */
@import 'primeicons/primeicons.css';

/* Ng-Select Styles */
@import '@ng-select/ng-select/themes/default.theme.css';

/* Angular Material Theme */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}